<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p> 
	Hi, <%= @donation.user.fullname %>
</p>
<p>
  Thank you for making donation.
</p>
<p>
	Below is your donation details - 
</p>
<p>
	Amount - <%= @donation.amount %> <%= @donation.currency.currency %>
</p>
<p>
	Received By - <%= @donation.admin.fullname %>
</p>
<p>	
	Received On - <%= @donation.received_date %>
</p>
<p>
	Warm Regards,
</p>
<p>
	UCSY 15th Batch Charity Foundation
</p>
</body>
</html>