<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  We have received reset password request from you.
</p>
<p>
	Below is your new password - 
</p>
<p>
	password - <%= @password %>
</p>
<p>
	Please change your password once you have logged in.
</p>
<p>
	Warm Regards,
</p>
<p>
	UCSY 15th Batch Charity Foundation
</p>
</body>
</html>