<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Welcome to UCSY 15th Batch Charity Foundation
</p>
<p>
	Your donation account is created by one of our administrators. Please follow instructions as shown below - 
</p>
<p>
	web link - http://members.keephopealive-ucsy.org
</p>
<p>
	email - <%= @email %>
</p>
<p>	
	password - <%= @password %>
</p>
<p>
	Please change your password once you have logged in for first time.
</p>
<p>
	Warm Regards,
</p>
<p>
	UCSY 15th Batch Charity Foundation
</p>
</body>
</html>
