<div class="row component" style="border: solid 0px #000000;">
	<form id='f_change_password' action='/users/change_password_action' method='post'>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<label class="title"> Change Password </label>
		<input type="password" class="form-control control" id="t_old_password" name="old_password" placeholder="Old Password">
		<br/>
		<input type="password" class="form-control control" id="t_new_password" name="new_password" placeholder="New Password">
		<br/>
		<input type="password" class="form-control control" id="t_confirm_password" name="confirm_password" placeholder="Confirm Password">
		<br/>
		<button type="submit" class="btn btn-primary" id="b_change_password"> Change Password </button>
	</form>

	<% if flash["alert"] == "abc" %>
		<% if flash["type"] == "success" %>
			<div class="alert alert-success"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "info" %>
			<div class="alert alert-info"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "warning" %>
			<div class="alert alert-warning"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "danger" %>
			<div class="alert alert-danger"><%= flash["alert"] %></div>
		<% end %>
	<% end %>
</div>
<script>
	$("#b_change_password").click(function () {
		old_password = $('#t_old_password').val();
		new_password = $('#t_new_password').val();
		confirm_password = $('#t_confirm_password').val();	

		if(old_password.trim() == '' || new_password.trim() == '' || confirm_password.trim() == '') {
			alert("Please fill in all fields.");
			return false;
		}

		if(new_password != confirm_password) {
			alert("New password and confirm password must be same.");
			return false;
		}
		$("#f_change_password").submit();
	});
</script>