<script>
	$(document).ready(function() {
		$('#t_dob').datepicker({
			changeYear: true,
			changeMonth: true,
			yearRange: "-60:+0",
			dateFormat: "yy-mm-dd"
		});

		$('#l_edit_profile_pic').click(function() {
			$('#file_uploader').click();
			return false;
		});

		$("#file_uploader").change(function (){
			// if every validation is ok.
			$('#f_edit_profile_picture').submit();
		});
	});
</script>	
	
	<div class="row component">
	<div class="col-md-2">
		<form id='f_edit_profile_picture' action="/users/upload_profile_pic" method="post" enctype="multipart/form-data">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<% if @user.profile_pic %>
			<img src="<%= @user.profile_pic %>" id="profile_img" class="profile_img">
		<% else %>
			<img src="/img/default_profile.jpg" id="profile_img" class="profile_img">
		<% end %>
		<input type="file" name="file" id="file_uploader" style="display: none; height: 0px;" accept="image/*">
		<div class="note">
			<a href="#" id="l_edit_profile_pic"> Change profile picture </a>
		</div>
		</form>
	</div>
	<div class="col-md-4">
		<form id="f_profile" action="/users/update_profile" method="post">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			<input type="hidden" id="t_user_id" name="user_id" value="<%= @user.id %>">
			
			<label for="t_fullname">Full Name</label>
			<input type="text" id="t_fullname" name="fullname" class="form-control" value="<%= @user.fullname %>" readonly> <br/>
		
			<label for="t_member_no">Member No.</label>
			<input type="text" id="t_member_no" name="member_no" class="form-control" value="<%= @user.member_no %>" readonly> <br/>

			<label for="t_nickname">Nick Name</label>
			<input type="text" id="t_nickname" name="nickname" class="form-control" value="<%= @user.nickname %>"> <br/>

			<label for="t_email">Email</label>
			<input type="text" id="t_email" name="email" class="form-control" value="<%= @user.email %>"> <br/>

			<label for="t_phone_no">Phone No </label>
			<input type="text" id="t_phone_no" name="phone_no" class="form-control" value="<%= @user.phone_no %>"> </br>

			<!--
			<label>Old Password:</label>
			<input type="password" id="t_old_password" name="old_password" class="form-control"><br/>
			
			<label>New Password:</label>
			<input type="password" id="t_new_password" name="new_password" class="form-control"><br/>

			<label>Confirmed Password:</label>
			<input type="password" id="t_confirmed_password" name="confirmed_password" class="form-control"><br/>
			-->

			<label>Gender</label><br/>
			<select id="s_gender" name="gender" class="form-control">
				<% if @user.gender_id == 2 %>
					<option value="1">Male</option>
					<option value="2" selected="selected">Female</option>
				<% else %>
					<option value="1" selected="selected">Male</option>
					<option value="2">Female</option>
				<% end %>
			</select>
			<br/>

			<label for="t_dob">Date of Birth (yyyy-mm-dd)</label>
			<input type="text" id="t_dob" name="dob" class="form-control" value="<%= @user.dob %>"> <br/>

			<label>Are you an alumnus or current student of UCSY?</label>
			<select id="s_alumnus" name="alumnus" class="form-control">
				<% if @user.is_alumnus == true %>
					<option value="1" selected="selected">Yes</option>
					<option value="2">No</option>
				<% else %>
					<option value="1" selected="selected">Yes</option
					<option value="2">No</option>
				<% end %>
			</select>
			<br/>
			
			<label for="t_batch_no">If yes, please enter batch number?</label>
			<input type="text" id="t_batch_no" name="batch_no" class="form-control" value="<%= @user.batch_no %>"> <br/>
			
			<button type="submit" class="btn btn-primary" id="b_save"> Save </button>
			&nbsp;&nbsp;<a href="/users/change_password" id="l_change_password">Change Password</a>
		</form>
	</div>
	<div class="col-md-6">
		<label>Your donations</label><br/>
		<table id="donation_table" border="3">
			<thead>
				<tr>
					<th>Trans. No</th>
					<th>Amount</th>
					<th>Currency</th>
					<th>Received Date</th>
					<th>Remark</th>
					<th>Received By</th>
				</tr>
			</thead>
			<% @donations.each do |donation| %>
			<tbody>	
				<tr>
					<td><%= donation.id %></td>
					<td><%= donation.amount %></td>
					<td><%= donation.currency.currency %></td>
					<td><%= donation.received_date %></td>
					<td><%= donation.remark %></td>
					<td><%= donation.admin.fullname %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
