<div class="row component" style="border: solid 1px #000000;">
	<form id='f_login' action='users/sign_in' method='post'>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<label class="title"> Please login to continue. </label>
		<input type="email" class="form-control control" id="t_email" name="email" placeholder="Email">
		<br/>
		<input type="password" class="form-control control" id="t_password" name="password" placeholder="Password">
		<br/>
		<button type="submit" class="btn btn-primary" id="b_login"> Login </button>
		&nbsp;&nbsp;<a href="#" id="l_forgot_password">Forgot Password?</a>
	</form>

	<% if flash["alert"] == 'abcd' %>
		<% if flash["type"] == "success" %>
			<div class="alert alert-success"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "info" %>
			<div class="alert alert-info"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "warning" %>
			<div class="alert alert-warning"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "danger" %>
			<div class="alert alert-danger"><%= flash["alert"] %></div>
		<% end %>
	<% end %>
</div>
<script>
	$("#b_login").click(function () {
		email = $('#t_email').val();
		password = $('#t_password').val();

		if(email.trim() == '' || password.trim() == '') {
			alert("Hey, don't play play... Fill all forms.");
			return false;
		}
		$("#f_login").submit();
	});
</script>