<script>
$(document).ready(function() {
	$('#t_dob').datepicker({
		changeYear: true,
		changeMonth: true,
		yearRange: "-60:+0",
		dateFormat: "yy-mm-dd"
		/*yearRange : 'yy-50:yy+1'
		format: "yyyy-mm-dd",
		weekStart: 0,
		startDate: "1987-01-01",
		endDate: "1988-01-01",
		todayBtn: "linked",
		multidate: false
		*/
	});
});
</script>

<div class="row component">
	<div class="col-md-12">
		<form id="f_profile" action="/users/create_user" method="post">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			
			<label for="t_fullname">Full Name</label>
			<input type="text" id="t_fullname" name="fullname" class="form-control"> <br/>

			<label for="t_member_no">Member No</label>
			<input type="text" id="t_member_no" name="member_no" class="form-control"> <br/>
		
			<label for="t_nickname">Nick Name</label>
			<input type="text" id="t_nickname" name="nickname" class="form-control"> <br/>

			<label for="t_email">Email</label>
			<input type="text" id="t_email" name="email" class="form-control"> <br/>

			<label for="t_phone_no">Phone No</label>
			<input type="text" id="t_phone_no" name="phone_no" class="form-control"> <br/>
<!--
			<label for="t_password">Password (Ask him/her to change it later)</label>
			<input type="text" id="t_password" name="password" class="form-control"> <br/>
-->
			<label>Gender</label><br/>
			<select id="s_gender" name="gender" class="form-control">
				<option value="1" selected="selected">Male</option>
				<option value="2">Female</option>
			</select>
			<br/>

			<label for="t_dob">Date of Birth (yyyy-mm-dd)</label>
			<input type="text" id="t_dob" name="dob" class="form-control" data-date-format="yyyy-mm-dd"> <br/>

			<label>Are you an alumnus or current student of UCSY?</label>
			<select id="s_alumnus" name="alumnus" class="form-control">
				<option value="1" selected="selected">Yes</option>
				<option value="2">No</option>
			</select>
			<br/>
			
			<label for="t_batch_no">If yes, please enter batch number?</label>
			<input type="text" id="t_batch_no" name="batch_no" class="form-control"> <br/>
			
			<button type="submit" class="btn btn-primary" id="b_save"> Save </button>
		</form>
	</div>
<div>
<div class="row">
	<div class="col-md-12">
		<h3> Recently added users </h3>
		<table id="donation_table" border="3">
			<thead>
				<tr>
					<th>User Id</th>
					<th>Member No.</th>
					<th>Fullname</th>
					<th>Nickname</th>
					<th>Email</th>
					<th>Phone No</th>
					<th>Gender</th>
					<th>Date of Birth</th>
					<th>Is Alumnus?</th>
					<th>Batch No</th>
				</tr>
			</thead>
			<% for user in @users %>
			<tbody>	
				<tr>
					<td><a href="/users/profile/<%= user.id %>"><%= user.id %></a></td>
					<td><a href="/users/profile/<%= user.id %>"><%= user.member_no %></a></td>
					<td><a href="/users/profile/<%= user.id %>"><%= user.fullname %></a></td>
					<td><%= user.nickname %></td>
					<td><%= user.email %></td>
					<td><%= user.phone_no %></td>
					<% if user.gender_id == 2 %>
						<td> Female </td>
					<% else %>
						<td> Male </td>
					<% end %>
					<td><%= user.dob %></td>
					<td><%= user.is_alumnus %></td>
					<td><%= user.batch_no %></td>	
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
