<div class="row component">
	<div class="col-md-2">
		<img src="/img/default_profile.jpg" id="profile_img" class="profile_img">
	</div>
	<div class="col-md-4">
			<input type="hidden" id="t_user_id" name="user_id" value="<%= @user.id %>">
			
			<label for="t_fullname">Full Name</label>
			<input type="text" id="t_fullname" name="fullname" class="form-control" value="<%= @user.fullname %>" readonly> <br/>
		
			<label for="t_member_no">Member No.</label>
			<input type="text" id="t_member_no" name="member_no" class="form-control" value="<%= @user.member_no %>" readonly> <br/>

			<label for="t_nickname">Nick Name</label>
			<input type="text" id="t_nickname" name="nickname" class="form-control" value="<%= @user.nickname %>" readonly> <br/>

			<label for="t_email">Email</label>
			<input type="text" id="t_email" name="email" class="form-control" value="<%= @user.email %>" readonly> <br/>

			<label for="t_phone_no">Phone No </label>
			<input type="text" id="t_phone_no" name="phone_no" class="form-control" value="<%= @user.phone_no %>" readyonly> <br/>

			<label>Gender</label><br/>
			<% if @user.gender_id == 2 %>
				<input type="text" id="t_gender" name="gender" class="form-control" readonly value="Female">
			<% else %>
				<input type="text" id="t_gender" name="gender" class="form-control" readonly value="Male">
			<% end %>
			<br/>

			<label for="t_dob">Date of Birth (yyyy-mm-dd)</label>
			<input type="text" id="t_dob" name="dob" class="form-control" value="<%= @user.dob %>" readonly> <br/>

			<label>Are you an alumnus or current student of UCSY?</label>
			<% if @user.is_alumnus == true %>
				<input type="text" id="t_alumnus" name="alumnus" class="form-control" readonly value="Yes">
			<% else %>
				<input type="text" id="t_alumnus" name="alumnus" class="form-control" readonly value="No">
			<% end %>
			<br/>
			
			<label for="t_batch_no">If yes, please enter batch number?</label>
			<input type="text" id="t_batch_no" name="batch_no" class="form-control" value="<%= @user.batch_no %>" readonly> <br/>
		</form>
	</div>
<div>
