<script>
	$(document).ready(function() {

		$(".change_admin").click(function () {
			var user_id = $(this).attr('value');

			$.ajax({
				type:"POST",
				url:"/users/change_admin",
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
				//beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', "<%= form_authenticity_token %>")},
				dataType: "json",
				data: { "user_id" : user_id },
				success: function(data) {
					if(data.result == 'successful') {
						if(data.is_admin == 'false') {
							$(this).val("Make");
						}
						else {
							$(this).val("Remove");
						}
					}
					else {
						alert(data.message);
					}
				},
				error: function() {
					console.log("error");			 
				}
			});
		});
	});
</script>

<div class="row component">
	<div class="col-md-12">
		<h3> Users </h3>
		<table id="donation_table" border="3">
			<thead>
				<tr>
					<th>User Id</th>
					<th>Member No.</th>
					<th>Fullname</th>
					<th>Nickname</th>
					<th>Email</th>
					<th>Phone No</th>
					<th>Gender</th>
					<th>Date of Birth</th>
					<th>Is Alumnus?</th>
					<th>Batch No</th>
					<% if request.session["is_super_admin"] == true %>
					<th>Admin</th>
					<% end %>
				</tr>
			</thead>
			<% for user in @users %>
			<tbody>	
				<tr>
					<td><a href="/users/profile/<%= user.id %>"><%= user.id %></a></td>
					<td><a href="/users/profile/<%= user.id %>"><%= user.member_no %></a></td>
					<td><a href="/users/profile/<%= user.id %>"><%= user.fullname %></a></td>
					<td><%= user.nickname %></td>
					<td><%= user.email %></td>
					<td><%= user.phone_no %></td>
					<% if user.gender_id == 2 %>
						<td> Female </td>
					<% else %>
						<td> Male </td>
					<% end %>
					<td><%= user.dob %></td>
					<td><%= user.is_alumnus %></td>
					<td><%= user.batch_no %></td>	
					<% if request.session["is_super_admin"] == true %>
						<% if user.is_admin == true %>
							<td><a href="#" class="change_admin" value='<%= user.id %>' id='l_admin_<%= user.id %>'>Remove</a></td>
						<% else %>
							<td><a href="#" class="change_admin" value='<%= user.id %>' id='l_admin_<%= user.id %>'>Make</a></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
