<script>
	$(document).ready(function() {
		$("#t_forgot_email").val("");

		$("#b_reset_password").click(function () {
			email = $('#t_forgot_email').val();

			if(email.trim() == '') {
				alert("Hey, enter email to reset password.");
				return false;
			}
			$("f_reset_password").submit();
		});
		/*
		$("#l_back_login").click(function() {
			$("#forgot_password").hide();
			$("#login").show();

			return false;
		});
		*/
	});
</script>
<div class="row component" id="forgot_password" style="border: solid 0px #000000;">
	<form id='f_reset_password' action='users/reset_password' method='post'>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<label class="title"> Please enter your email to reset password. </label>
		<input type="email" class="form-control control" id="t_forgot_email" name="forgot_email" placeholder="Email">
		<br/>
		<button type="submit" class="btn btn-primary" id="b_reset_password"> Reset Password </button>
		&nbsp;&nbsp;<a href="/" id="l_back_login">Log In</a>
	</form>
</div>

	<% if flash["alert"] == 'abcd' %>
		<% if flash["type"] == "success" %>
			<div class="alert alert-success"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "info" %>
			<div class="alert alert-info"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "warning" %>
			<div class="alert alert-warning"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "danger" %>
			<div class="alert alert-danger"><%= flash["alert"] %></div>
		<% end %>
	<% end %>
</div>