<script>
	$(document).ready(function() {
		$('#t_received_date').datepicker({
			dateFormat: "yy-mm-dd"
			/*yearRange : 'yy-50:yy+1'
			format: "yyyy-mm-dd",
			weekStart: 0,
			startDate: "1987-01-01",
			endDate: "1988-01-01",
			todayBtn: "linked",
			multidate: false
			*/
		});
	});
</script>
<div class="row component">
	<div class="col-md-12">
		<form id="f_donation" action="/donations/edit_donation" method="post">
			<input type="hidden" name="donation_id" value="<%= @donation.id %>">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			
			<input type="hidden" name="user_id" id="user_id">

			<label for="t_fullname">Donor Name</label>
			<input type="text" id="t_fullname" name="fullname" class="form-control" onkeyup="findUsers(event)" autocomplete="off" value="<%= @donation.user.fullname %>" readonly> <br/>
			
			<label for="t_amount">Amount</label>
			<input type="text" id="t_amount" name="amount" class="form-control" value="<%= @donation.amount %>">
			<br/>
			<label>Currency</label>
			<select id="s_currency" name="currency" class="form-control" style="width: 100px;">
			<% for currency in @currencies %>
				<% if currency.id == @donation.currency_id %>
					<option value="<%= currency.id %>" selected><%= currency.currency%></option>
				<% else %>
					<option value="<%= currency.id %>"><%= currency.currency%></option>
				<% end %>
			<% end %>
			</select>
			<br/>

			<label for="t_received_date">Received Date (yyyy-mm-dd)</label>
			<input type="text" id="t_received_date" name="received_date" class="form-control" value="<%= @donation.received_date %>"> <br/>
	
			<label>Remark</label>
			<textarea id="t_remark" name="remark" class="form-control"><%= @donation.remark %></textarea><br/>
			
			<button type="submit" class="btn btn-primary" id="b_edit"> Edit </button>
		</form>
	</div>
<div>
<div class="row">
	<div class="col-md-12">
		<h3> Recently added donations </h3>
		<table id="donation_table" border="3">
			<thead>
				<tr>
					<th>Trans. No</th>
					<th>Donor Name</th>
					<th>Amount</th>
					<th>Currency</th>
					<th>Received Date</th>
					<th>Remark</th>
					<th>Received By</th>
				</tr>
			</thead>
			<% @donations.each do |donation| %>
			<tbody>	
				<tr>
					<td><%= donation.id %></td>
					<td><%= donation.user.fullname %></td>
					<td><%= donation.amount %></td>
					<td><%= donation.currency.currency %></td>
					<td><%= donation.received_date %></td>
					<td><%= donation.remark %></td>
					<td><%= donation.admin.fullname %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>

