<script>
	$(document).ready(function() {
		$('#t_received_date').datepicker({
			dateFormat: "yy-mm-dd"
			/*yearRange : 'yy-50:yy+1'
			format: "yyyy-mm-dd",
			weekStart: 0,
			startDate: "1987-01-01",
			endDate: "1988-01-01",
			todayBtn: "linked",
			multidate: false
			*/
		});
	});

	function findUsers(event) {

		if(event.keyCode == 13 || event.keyCode == 38 || event.keyCode == 40)
			return;

		var text = $('#t_fullname').val();
		console.log(text);
		$('#selected').val("false");

		$.ajax({
			type:"GET",
			url:"/users/find_users?seed=" + text,
			success: function(data) {
				var availableNames = data.names;
				var availableIds = data.ids;

				console.log(availableNames);
				console.log(availableIds);

				$("#t_fullname").autocomplete({
					source: availableNames,
					select: function (event, ui) {
						console.log(event.originalEvent);	
						$('#selected').val("true");
						var data = ui.item.value;
						var id = data.split(',')[0];
						$('#user_id').val(id);
					}
				});
			},
			error: function() {
			       
			}
		});
	};

	function submitDonation() {
		var selected = $('#selected').val();
		if(selected == "true") {
			$('#f_donation').submit();
		}
	}
  </script>
<div class="row component">
	<div class="col-md-12">
		<form id="f_donation" action="/donations/create_donation" method="post">
			<input type="hidden" name="selected" id="selected" value="false">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			
			<input type="hidden" name="user_id" id="user_id">

			<label for="t_fullname">Donor Name</label>
			<input type="text" id="t_fullname" name="fullname" class="form-control" onkeyup="findUsers(event)" autocomplete="off"> <br/>
			
			<label for="t_amount">Amount</label>
			<input type="text" id="t_amount" name="amount" class="form-control">
			<br/>
			<label>Currency</label>
                        <select id="s_currency" name="currency" class="form-control" style="width: 100px;">
				<% for currency in @currencies %>
					<option value="<%= currency.id %>"><%= currency.currency%></option>
                                <% end %>
                        </select>
                        <br/>

			<label for="t_received_date">Received Date (yyyy-mm-dd)</label>
			<input type="text" id="t_received_date" name="received_date" class="form-control"> <br/>
	
			<label>Remark</label>
			<textarea id="t_remark" name="remark" class="form-control"></textarea><br/>
			
			<button type="button" class="btn btn-primary" id="b_save" onclick="submitDonation()"> Save </button>
		</form>
	</div>
<div>
<div class="row">
	<div class="col-md-12">
		<h3> Recently added donations </h3>
		<table id="donation_table" border="3">
			<thead>
				<tr>
					<th>Trans. No</th>
					<th>Donor Name</th>
					<th>Amount</th>
					<th>Currency</th>
					<th>Received Date</th>
					<th>Remark</th>
					<th>Received By</th>
				</tr>
			</thead>
			<% @donations.each do |donation| %>
			<tbody>	
				<tr>
					<td><%= donation.id %></td>
					<td><%= donation.user.fullname %></td>
					<td><%= donation.amount %></td>
					<td><%= donation.currency.currency %></td>
					<td><%= donation.received_date %></td>
					<td><%= donation.remark %></td>
					<td><%= donation.admin.fullname %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>

