<script>
	$(document).ready(function() {

		$(".edit_donation").click(function () {
			var donation_id = $(this).attr('value');
			window.location.href = "/donations/edit/" + donation_id;
		});

		$(".delete_donation").click(function () {
			var result = confirm("Are you sure to delete this donation?");
			if (result == true) {
				var donation_id = $(this).attr('value');
				
				$.ajax({
					type:"POST",
					url:"/donations/delete",
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
					dataType: "json",
					data: { "donation_id" : donation_id },
					success: function(data) {
						if(data.result == 'successful') {
							location.reload();
						}
						else {
							alert(data.message);
						}
					},
					error: function() {
						console.log("error");			 
					}
				});
			}
		});
	});
</script>

<div class="row component">
	<div class="col-md-12">
		<h3> Donations </h3>
        <div class="edit btn btn-default" style="margin-bottom:5px"><%= link_to "Export CSV", donation_export_path(format: "csv") %></div>
		<table id="donation_table" border="3">
			<thead>
				<tr>
					<th>Trans. No</th>
					<th>Donor Name</th>
					<th>Amount</th>
					<th>Currency</th>
					<th>Received Date</th>
					<th>Remark</th>
					<th>Received By</th>
					<% if request.session["is_super_admin"] == true %>
					<th>Edit</th>
					<th>Delete</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<% @donations.each do |donation| %>
				<tr class="table_body">
					<td><%= donation.id %></td>
					<td><%= donation.user.fullname %> (<%= donation.user.member_no %>)</td>
					<td><%= donation.amount %></td>
					<td><%= donation.currency.currency %></td>
					<td><%= donation.received_date %></td>
					<td><%= donation.remark %></td>
					<td><%= donation.admin.fullname %></td>
					<% if request.session["is_super_admin"] == true %>
						<td><a href="#" class="edit_donation" value='<%= donation.id %>' id='l_edit_<%= donation.id %>'>Edit</a></td>
						<td><a href="#" class="delete_donation" value='<%= donation.id %>' id='l_delete_<%= donation.id %>'>Delete</a></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

