<!DOCTYPE html>
<html>
<head>
  <title>UCSY Charity Foundation System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta content="<%= form_authenticity_token %>" name="csrf-token" />

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style>
	<% if flash["alert"] != nil %>
		<% if flash["type"] == "success" %>
			<div class="alert alert-success"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "info" %>
			<div class="alert alert-info"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "warning" %>
			<div class="alert alert-warning"><%= flash["alert"] %></div>
		<% elsif flash["type"] == "danger" %>
			<div class="alert alert-danger"><%= flash["alert"] %></div>
		<% end %>
	<% end %>
	<div class="navbar-wrapper" style="border: solid 0px #e0110f">
		<div class="container" style="border: solid 0px #01ee0f">
			<div class="main" style="border: solid 0px #000">
				<img class="logo" src="/img/logo.jpg">
				<% if session["user_id"] != nil %>
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/">Dashboard</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<% if session["is_admin"] == true %>
									<ul class="nav navbar-nav">
										<li><a href="/users/new">New Member</a></li>
										<li><a href="/donations/new">New Donation</a></li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reports <span class="caret"></span></a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="/users/search">Users</a></li>
												<li class="divider"></li>
												<li><a href="/donations/search">Donations</a></li>
											</ul>
										</li>
									</ul>
									<form class="navbar-form navbar-left" role="search" action="/users/search" method="get">
										<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
										<div class="form-group">
											<input type="text" name="seed" class="form-control" placeholder="Search member">
										</div>
										<button type="submit" class="btn btn-default">Search</button>
									</form>
								<% end %>
								<form class="navbar-form navbar-right" role="" action="/users/sign_out" method="post">
									<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
									<button type="submit" class="btn btn-default">Logout</button>
								</form>
							</div>
						</div>
					</nav>
				<% else %>
					<% if params["controller"] != 'home' && params["action"] != 'index' %>
						<script type="text/javascript">
						    window.location.href="/"
						</script>
					<% end %>
				<% end %>
				<%= yield %>
			<div>
			<div class="row" style="height: 100px;">
				
			</div>
		</div>
	</div>
</body>
</html>